<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>

	<connectionStrings>
		<add name="CrmConnectionString" connectionString="Data Source=DESKTOP-FUQNAF1\SQLSERVER;Initial Catalog=CRM;Integrated Security=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login.aspx" name=".CRMAUTH" timeout="43200" slidingExpiration="true" />
		</authentication>
		<machineKey validationKey="88E05E4572CBF2AB0D73DF0949E42616A309533BD6DDCDB339F8ACDC135E215C5E6BCBED5D6EE16F17D73CD2504B459A76ED76FADA63B76C2F68590BDCD3E129" decryptionKey="A4CEFD4B69298B054C5C53ED733FC45869DF3CA45FEEBF4A64D6B8043CE3921B" validation="SHA1" decryption="AES" />
		<sessionState mode="SQLServer" sqlConnectionString="Data Source=DESKTOP-FUQNAF1\SQLSERVER;Integrated Security=True;" timeout="30" />
		<customErrors mode="On" defaultRedirect="~/Erro.aspx">
			<error statusCode="404" redirect="~/Erro.aspx?codigo=404" />
			<error statusCode="500" redirect="~/Erro.aspx?codigo=500" />
		</customErrors>
		<pages>
			<namespaces>
				<add namespace="System.Web.Optimization" />
			</namespaces>
			<controls>
				<add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
				<add tagPrefix="uc" tagName="Paginacao" src="~/Controls/Paginacao.ascx" />
				<add tagPrefix="uc" tagName="FiltroDatas" src="~/Controls/FiltroDatas.ascx" />
				<add tagPrefix="uc" tagName="SeletorCliente" src="~/Controls/SeletorCliente.ascx" />
				<add tagPrefix="uc" tagName="SeletorProduto" src="~/Controls/SeletorProduto.ascx" />
				<add tagPrefix="uc" tagName="Anexos" src="~/Controls/Anexos.ascx" />
				<add tagPrefix="uc" tagName="Historico" src="~/Controls/Historico.ascx" />
			</controls>
		</pages>
	</system.web>
	<system.webServer>
		<defaultDocument>
			<files>
				<clear />
				<add value="Paginas/Account/Login.aspx" />
			</files>
		</defaultDocument>
		<httpErrors errorMode="Custom" existingResponse="Replace">
			<remove statusCode="404" />
			<error statusCode="404" path="/Erro.aspx?codigo=404" responseMode="ExecuteURL" />
			<remove statusCode="500" />
			<error statusCode="500" path="/Erro.aspx?codigo=500" responseMode="ExecuteURL" />
		</httpErrors>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>